{% extends "base.html" %}

{% block content %}

<!-- Recent Posts Section -->
<div class="recent-posts">
    <h2 class="section-title">最新文章 Recent Posts</h2>
    {% for article in articles_page.object_list %}
    <div class="article-item">
        <div class="article-title">
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </div>
        <div class="article-meta">
            {{ article.locale_date }} | Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category
                }}</a>
        </div>
    </div>
    {% endfor %}
</div>

{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}

{% endblock %}